{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row justify-content-center align-self-center" style="margin: 15px">
        <div class="card bg-light">
            <div class="card-header"><b>Register</b></div>
            <div class="card-body">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">{{ button_label|default('Register') }}</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
