<div class="card-body">
    {{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.familyName) }}
    {{ form_row(form.country) }}
    {{ form_row(form.user, {
        'attr': {
            'class': 'selectpicker',
            'data-live-search': "true",
            'data-container':"body",
            'data-style':"btn-light"
        }
    }) }}
</div>
<div class="card-footer">
    <div class="row">
        <div class="col align-self-start">
            <a href="{{ path('customer_index') }}" role="button" class="btn btn-secondary">Cancel</a>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
        {{ form_end(form) }}
        <div class="col align-self-end">{{ include('customer/_delete_form.html.twig') }}</div>
    </div>
</div>