{% extends 'base.html.twig' %}

{% block title %}Couette & Café{% endblock %}

{% block body %}
    <div class="col">
        <div class="card" style="margin-top: 20vh; transform: translateY(-50%):">
            <div class="card-header card-header-warning">Trouvez le Couette & Café de vos rêves !</div>
            <div class="card-body">
                <form method="post">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <div class="row align-items-center">
                            <div class="col">
                                {{ form_row(form.id, {
                                    'attr': {
                                        'class': 'selectpicker',
                                        'data-live-search': "true",
                                        'data-style':"btn-warning"
                                    }
                                }) }}
                            </div>
                            <div class="col">
                                {{ form_row(form.startDate, {
                                    'attr': {
                                        'class': 'datetimepicker3',
                                    }
                                }) }}
                            </div>
                            <div class="col">{{ form_row(form.endDate, {
                                    'attr': {
                                        'class': 'datetimepicker3',
                                    }
                                }) }}
                                </div>
                            <div class="col">
                                <button type="submit"
                                        class="btn btn-warning align-self-end">{{ button_label|default('Rechercher') }}</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>


{% endblock %}
