{% extends 'base.html.twig' %}

{% block title %}Ads in the {{ region.name }} area{% endblock %}

{% block body %}
    <p><h1><span style="color: white">Ads in the {{ region.name }} area</span></h1></p>
    {% for room in rooms %}
        <div class="card" style="margin-top: 50px">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">
                        <i class="fa fa-hotel"></i> <b>{{ room.summary }}</b>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" role="button" class="btn btn-warning btn-sm" style="float: right; margin-left:5px;">Book
                            it</a>
                        {% if room.id not in likes %}
                            <a href="{{ path('room_like', {'id': room.id, 'start': start, 'end': end}) }}" role="button"
                               class="btn btn-outline-secondary btn-sm" style="float: right"><i class="fa fa-heart"></i></a>
                        {% else %}
                            <a href="{{ path('room_like', {'id': room.id, 'start': start, 'end': end}) }}" role="button"
                               class="btn btn-danger btn-sm" style="float: right"><i
                                        class="fa fa-heart"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Owner</th>
                            <td>{{ room.owner }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ room.address }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ room.description }}</td>
                        </tr>
                        <tr>
                            <th>Capacity</th>
                            <td>{{ room.capacity }}</td>
                        </tr>
                        <tr>
                            <th>Superficy</th>
                            <td>{{ room.superficy }} m²</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>{{ room.price }} €</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	{% else %}
	<p style="margin-top: 20px"><span style="color: white"> No room available during this period :(</span></p>
    {% endfor %}
{% endblock %}
