<div class="card-body">
    {{ form_start(form) }}
    {{ form_widget(form) }}
</div>
<div class="card-footer">
    <div class="row">
        <a href="{{ path('room_index') }}" role="button" class="btn btn-secondary" style="margin: 5px">Cancel</a>
        <button class="btn btn-success" style="margin: 5px">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(form) }}
</div>
