{% extends 'base.html.twig' %}

{% block title %}Unavailability index{% endblock %}

{% block body %}
    <div class="card" style="margin: 10px">
        <div class="card-header"><b>Mes indisponibilités</b></div>
        <div class="card-body">
            <a href="{{ path('owner_unavailability_new') }}" role="button" class="btn btn-info" style="margin-bottom: 10px"><i
                        class="fa fa-plus"></i> Ajouter une indisponibilité</a>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Room</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for unavailability in unavailabilities %}
                        <tr>
                            <td>{{ unavailability.room }}</td>
                            <td>{{ unavailability.startDate|date("m-d-Y") }}</td>
                            <td>{{ unavailability.endDate|date("m-d-Y") }}</td>
                            <td>
                                <a href="{{ path('owner_unavailability_show', {'id': unavailability.id}) }}" role="button" class="btn btn-info"><i
                                            class="fa fa-eye"></i></a>
                                <a href="{{ path('owner_unavailability_edit', {'id': unavailability.id}) }}" role="button" class="btn btn-info"><i
                                            class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">Vous n'avez aucune annonce...</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
