<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Couette&Café{% endblock %}</title>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <!-- Fonts and icons -->
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- CSS Files -->
        <link href="{{ asset('vendor/css/material-kit.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body class="ecommerce-page"
      style="background: url('https://source.unsplash.com/featured/?coffee.breakfast') no-repeat center fixed; background-size: cover;">
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-transparent">
        <a class="navbar-brand" href="/" style="margin-left: 20px">C&C</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/likes">Favorites</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin zone
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/room">Rooms</a>
                            <a class="dropdown-item" href="/admin/region">Regions</a>
                            <a class="dropdown-item" href="/admin/customer">Customers</a>
                            <a class="dropdown-item" href="/admin/owner">Owners</a>
                            <a class="dropdown-item" href="/admin/reservation">Reservations</a>
                            <a class="dropdown-item" href="/admin/unavailability">Unavailabilities</a>
                        </div>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_OWNER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Owner zone
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/owner/room">Rooms</a>
                            <a class="dropdown-item" href="/owner/unavailability">Unavailabilities</a>
                        </div>
                    </li>
                {% endif %}
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

<div class="container">
    {% block body %}{% endblock %}
    {% block javascripts %}
        <!--   Core JS Files   -->
        <script src="{{ asset('vendor/js/core/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('vendor/js/core/popper.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('vendor/js/core/bootstrap-material-design.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('vendor/js/plugins/moment.min.js') }}"></script>
        <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
        <script src="{{ asset('vendor/js/plugins/bootstrap-datetimepicker.js') }}" type="text/javascript"></script>
        {#
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Google Maps Plugin  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
#}
        <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
        <script src="{{ asset('vendor/js/material-kit.js?v=2.0.6') }}" type="text/javascript"></script>
        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src="{{ asset('vendor/js/plugins/bootstrap-selectpicker.js') }}" type="text/javascript"></script>
        <!--  Notifications Plugin    -->
        <script src="{{ asset('vendor/js/plugins/bootstrap-notify.js') }}"></script>
    {% endblock %}
</div>


{% block footer %}
    <footer class="footer footer-default justify-content-center" style="position: absolute; bottom: 0; width: 100%">
        <div class="copyright text-center" style="color: white">
            <span>&copy C&C 2019</span>
        </div>
    </footer>
{% endblock %}


</body>
</html>