{% extends 'base.html.twig' %}

{% block title %}Region index{% endblock %}

{% block body %}
    <h1>Region index</h1>

    <a href="{{ path('region_new') }}" role="button" class="btn btn-info"><i class="fa fa-plus"></i> Add new region</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Presentation</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.name }}</td>
                <td>{{ region.presentation }}</td>
                <td>{{ region.country }}</td>
                <td>
                    <a href="{{ path('region_show', {'id': region.id}) }}" role="button" class="btn btn-info"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('region_edit', {'id': region.id}) }}" role="button" class="btn btn-info"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
